<br />
<div class="foo">
  <h3>Choisissez la taille de la grille</h3>

  <mat-radio-group aria-labelledby="Taille de la grille" [(ngModel)]="gridSizeChoice"
    (ngModelChange)="updateDifficulties()">
    <mat-radio-button *ngFor="let gridSize of gridSizes" [value]="gridSize.split('x')[0]">
      {{gridSize}}
    </mat-radio-button>
  </mat-radio-group>
  <br />
  <br />
  <h3>Choisissez la difficulté</h3>
  <mat-form-field>
    <mat-label>Difficulté</mat-label>
    <mat-select [(ngModel)]="difficultyChoice">
      <mat-option *ngFor="let diff of difficulties" [value]="diff">
        {{diff}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br />
  <br />
  <button (click)="playGrid()" mat-raised-button color="primary" class="right-aligned" [disabled]="!hasPuzzles">C'est
    parti
    !</button>
</div>