<br />
<div class="foo">
  <h2>Bienvenue !</h2>
  <div>
    Une grille de Takuzu se remplit en suivant les règles suivantes :
    <ul>
      <li>Trois cases consécutives (en ligne et en colonne) ne peuvent pas être de la même couleur.</li>
      <li>Chaque ligne (et chaque colonne) contient autant de cases de chaque couleur.</li>
      <li>Deux lignes (et deux colonnes) ne peuvent pas être identiques.</li>
    </ul>
  </div>
  Un exemple de grille complétée :
  <br /><br />
  <div class="center">
    <img src="assets/img/takuzu.png" class="img">
  </div>
</div>